body, html {
  margin: 0;
  padding: 0;
  background-color: #f44336; /* fundo vermelho */
}
.navbar-brand {
  display: flex;
  align-items: center;
  gap: 8px;
}

#app {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color:	#f44336;
}

.card {
  border-radius: 15px;
  background-color: #f5f5f5;
  border: none;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.02);
}

.card-img-top {
  max-height: 100px;
  object-fit: contain;
  padding: 1rem;
}

.badge {
  text-transform: capitalize;
  font-size: 0.75rem;
  margin: 2px;
}
